/*
To Install: npm install -g stylus
To Compile: stylus -w input.styl -o output.css
To Minify: stylus -w input.styl -c output.css
*/
.grid-1-1,
.center {
  width: 100%;
  float: left;
}
.grid-1-2 {
  width: 50%;
  float: left;
}
.grid-1-3 {
  width: 33.33333333333333%;
  float: left;
}
.grid-2-3 {
  width: 66.66666666666666%;
  float: left;
}
.grid-1-4 {
  width: 25%;
  float: left;
}
.grid-2-4 {
  width: 50%;
  float: left;
}
.grid-3-4 {
  width: 75%;
  float: left;
}
.grid-1-5 {
  width: 20%;
  float: left;
}
.grid-2-5 {
  width: 40%;
  float: left;
}
.grid-3-5 {
  width: 60%;
  float: left;
}
.grid-4-5 {
  width: 80%;
  float: left;
}
.grid-1-6 {
  width: 16.666666666666664%;
  float: left;
}
.grid-2-6 {
  width: 33.33333333333333%;
  float: left;
}
.grid-3-6 {
  width: 50%;
  float: left;
}
.grid-4-6 {
  width: 66.66666666666666%;
  float: left;
}
.grid-5-6 {
  width: 83.33333333333334%;
  float: left;
}
.grid-row {
  width: 100%;
}
.grid-row:after {
  content: "";
  display: table;
  clear: both;
}
@import 'grid.css';
.box1 {
  background: #f00;
  color: #fff;
}
.box2 {
  color: #f00;
}
.box2:hover {
  color: #ff0;
}
.box7 {
  z-index: 5;
}
.box1 {
  height: 30px;
  width: 30px;
  background: #00f;
}
.box2 {
  height: 30px;
  width: 30px;
  background: #00f;
}
.box3 {
  height: 30px;
  width: 30px;
  background: #00f;
}
.box4 {
  height: 30px;
  width: 30px;
  background: #00f;
}
.box5 {
  height: 30px;
  width: 30px;
  background: #00f;
}
.box1 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.box1 {
  padding: 50px;
}
.center {
  text-align: center;
  font-size: 4em;
}
